html, body {
	height: 100%
}

.vh100 {
	height: 100%
}

.heading {
	width: 50%;
	background: #3D8D7A;
}

.heading > #headIcon {
	color: #FBFFE4;
	width: 300px;
	height: 300px;
}

.heading > h1 {
	color: #B3D8A8;
}

.heading > h3 {
	color: #A3D1C6;
}

.form-container {
	width: 50%;
	height: 100%;
}

.login-form {
	width: 60%;
}	

.login-form > .card-header {
	background: #3D8D7A; 
}

.login-form > .card-header > h3{
	color: #FBFFE4;
}
