.custom-navbar-color {
	background: #3D8D7A;
}

.custom-navtext-color {
	color: #FBFFE4;
}

.custom-active {
	color: #FFEFC8;
}

.btn-wrapper {
	padding-top: 2rem;
}

.page-links > a {
	display: inline-block;
	width: 3rem;
}

.profile-img {
}

.reg-info-card-color {
	background: #EAEAEA;
}

.last-access-info-card-color {	
	background: #E3D2C3;
}

.status-info-card-color {
	background: #66D2CE;
}

#chartdiv {
  width: 100%;
  height: 500px;
}

.pieChart {
  width: 100%;
  height: 350px;
}

#adminChart {
  width: 100%;
  height: 500px;
  max-width: 100%;
}